@charset "UTF-8";


#displayBox .cm_box{
  display: none;
}

#displayBox .cm_box .active {
  display: block;
}

#tripBox .box{
  display: none;
  margin-left: 5px
}

#tripBox .box .active {
  display: block;
}
