<div class="container">
  <h3 class="mt-5">新着投稿</h3>
  <div class="row">
    <div class="col-6">
      <%= render 'public/posts/post_index', posts: @posts %>
    </div>
    <div class="col-6">
      <%= render 'public/schedules/show', schedules: @schedules %>
    </div>
  </div>
</div>

