<div class="container">
  <%= notice %>

  <div class="row">
    <div class="col-6">
      <h3 class="mt-5">新着投稿</h3>
      <% if @posts.exists? %>
        <%= render 'public/posts/post_index', posts: @posts %>
      <% else %>
       <p>新規投稿はありません。</p>
      <% end %>
    </div>
    <div class="col-6">
      <h3 class="mt-5">本日の予定</h3>
      <% if @schedules.exists? %>
        <%= render 'public/schedules/show', schedules: @schedules %>
      <% else %>
        <%= "(#{Date.today})" %>
        <p>本日の予定はありません。</p>
      <% end %>
    </div>
  </div>
</div>

