@import '~bootstrap/scss/bootstrap';

.post-index-img{
	height: 148px;
	width: 105px;
	object-fit: cover;
}
.box1 {
  background-color: #FF0000;
  height: 200px;
  width: 200px;
}

// マウスオーバー時に適用されCSS(class)
.box1-ext {
  border: 10px solid black;
}