      <div class="container">
        <div class="row mt-5">
          <div class="col-6">
            確認者一覧
            <% @checks.each do |check| %>
              <table class="table table border">
                <tr><td><%= check.member.department %>:<%= check.member.last_name %></td></tr>
              </table>
            <% end %>
            <%= link_to "戻る", :back %>
          </div>
        </div>
      </div>


